
h1:hover
{
	width:400px;
	height:200px;
	border:3px solid green;
	margin:50px;
	box-shadow:6px 6px 3px;
	position:absolute;
	top:100;
	overflow:scroll;
	
}



h2
{	
	
	width:200px;
	height:200px;
	margin:100px auto;
	border:3px solid green;
	text-align:center;
	justify-content:center;
	padding:100px ;
	box-shadow:6px 6px 3px;
	
	animation-name:animate;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-delay:5s;
	
	
	
}
h3
{
	margin:20px auto;
	padding:100px;
	border:3px solid black;
	width:200px;
	text-align:center;
	background-color:green;
	position:relative;
	left:100;
	background-image:url(img/pop.jpg);
	opacity:0.5;
	
	
}
h4
{
	margin:20px auto;
	padding:20px;
	border:3px solid black;
	width:50px;
	text-align:center;
	background-color:green;
	position:fixed;
	
	
	
}

h5
{
	margin:20px auto;
	padding:20px;
	border:3px solid black;
	width:200px;
	text-align:center;
	background-color:green;
	position:sticky;
	top:50;
	
	
}

@keyframes animate
{
	from{border-radius:0%;}
	to{border-radius:50%;  background-color:yellow;color:white ;}

}	
body
{
	
	background-color:pink;
	
}
.page{
			
			display:flex;
			justify-content:center;
			font-size:30px;
			height:400;
			width:600;
			margin:20px auto;
			
}
.page .page-item
{
	
	
	text-decoration:none;
	margin:10px auto;
	border-radius:50px;
	background-color:black;
	width:20px;
	height:20px;
	display:inline;
	align-items:center;
	overflow:hidden;
	text-transform:capitalize;
	cursor:pointer;
	color:#fff;
	padding:20px;
	
}
.page a.active
{
	background-color:red;
	color:white;
	
}
.page a:hover
{
	background-color:#ddd;
	
	
}
